#navContent {
    width: 100%;
}

#content #rightColumn {
    float: none;
    width: 100%;
    margin-bottom: 20px;
}

#content #leftColumn {
    width: 100%;
}

nav #navContent .mobileNav {
    display: block;
    padding-top: 16px;
    padding-right: 36px;
    float: right;
}

nav .linkList {
    display: none;
}

nav #navContent .user {
    display: none;
}