{% extends '::base.html.twig' %}
{% block userMenu %}
  <div id="notLoggedMenu">
    <a href="{{ path("fos_user_registration_register") }}">Sign up</a> 
    <a href="{{ path("fos_user_security_login") }}">Sign in</a>
  </div>
{% endblock %}
{% block body %}
<div id="content">
    <div id="signInForm" class="basicForm signInUpForm">
        <div class="formSignInUp">
            <h1>Sign in</h1>
            <div class="inputField">
                <div id="mailPreInput" class="preInput"><span class="icon icon-white icon-22 mail"></span></div>
                <input type="email" id="mailInput" placeholder="Email address"/>
            </div>
            <div class="inputField">
                <div id="passwordPreInput" class="preInput"><span class="icon icon-white icon-22 lock"></span></div>
                <input type="password" id="passwordInput" placeholder="Password"/>
            </div>
            <input type="submit" class="button" value="Sign in"/>
        </div>
        <div id="socialNetworks">
            <div id="facebookSignIn" class="button">
                <a href="#">
                    <span class="icon icon-white icon-40 facebook"></span>
                    <span class="buttonContent">Sign in with Facebook</span>
                </a>
            </div>
            <div id="googleSignIn" class="button">
                <a href="#">
                    <span class="icon icon-white icon-40 gplus"></span>
                    <span class="buttonContent">Sign in with Google</span>
                </a>
            </div>
            <div id="twitterSignIn" class="button">
                <a href="#">
                    <span class="icon icon-white icon-40 twitter"></span>
                    <span class="buttonContent">Sign in with Twitter</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}