<!--
Creator: Theotime
Collaborators: -
Created on: 11/28/2013
Description: This page notifies the user that his/her password is now reset.
-->
{% extends '::base.html.twig' %}
{% block body %}
<div id="content">
  <div class="basicForm smallForm">
    The password has been reset successfully.<br/>
    <span class="icon icon-single check icon-green icon-160"></span><br/>
    <a href="{{ path('fair_counts_main_homepage') }}"><input type="button" class="button basicButton" value="Back to homepage"/></a>
  </div>
</div>
{% endblock %}