<!--
Creator: Theotime
Collaborators: -
Created on: 11/22/2013
Description: This page notifies the user that he/she already requested a password reset in the last 24hours.
-->
{% extends '::base.html.twig' %}
{% block body %}
<div id="content">
  <div class="basicForm" id="passwordAlreadyRequested">
    The password for this user has already been requested within the last 24 hours.<br/>
  </div>
</div>
{% endblock %}