{% extends '::base.html.twig' %}
{% block userMenu %}
<div id="notLoggedMenu">
  <a href="{{ path("fos_user_registration_register") }}">Sign up</a> 
  <a href="{{ path("fos_user_security_login") }}">Sign in</a>
</div>
{% endblock %}
{% block body %}
<div id="content">
  <div class="basicForm smallForm">
    The password has been reset successfully.<br/>
    <span class="icon icon-single check icon-green icon-160"></span><br/>
    <a href="{{ path('fair_counts_main_homepage') }}"><input type="button" class="button basicButton" value="Back to homepage"/></a>
  </div>
</div>
{% endblock %}