{% extends '::base.html.twig' %}
{% block body %}
<div id="content">
  <div class="basicForm smallForm">
    <h1>Reset password</h1>
    {% if invalid_username is defined %}
    <div id="errorBar">Bad credentials</div>
    {% endif %}
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST">
        <div class="inputField">
          <div id="mailPreInput" class="preInput"><span class="icon icon-white icon-22 mail"></span></div>
          <input type="email" id="mailInput" name="username" placeholder="Email address" required="required"/>
        </div>
      <input type="submit" id="submit" name="_submit" class="button" value="Valider"/>
    </form>
  </div>
</div>
{% endblock %}