<!--
Creator: Theotime
Collaborators: -
Created on: 11/28/2013
Description: This page displays a form to let the user reset his/her password by sending an email containing a specific link.
Field:
- Email address
-->
{% extends '::base.html.twig' %}
{% block body %}
<div id="content">
  <div class="basicForm smallForm">
    <h1>Reset password</h1>
    {% if invalid_username is defined %}
    <div id="errorBar">Bad credentials</div>
    {% endif %}
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST">
        <div class="inputField">
          <div id="mailPreInput" class="preInput"><span class="icon icon-white icon-22 mail"></span></div>
          <input type="email" id="mailInput" name="username" placeholder="Email address" required="required"/>
        </div>
      <input type="submit" id="submit" name="_submit" class="button" value="Submit"/>
    </form>
  </div>
</div>
{% endblock %}