{% extends '::base.html.twig' %}
{% block body %}
<div id="totalBalance" class="positive"><span class="totBalance">+15.20$</span><span>Total balance</span></div>
<div id="rightColumn">
  <div class="stats"></div>
</div>
<div id="leftColumn">
  <a href="#"><div id="newGroup"><span class="emphasize">+</span> New group</div></a>
  <div class="folder">
    <div class="positive folderBalance">
      <span class="folBalance">+5.03$</span>
      <span class="folTitle">John's Birthday</span>
    </div>
    <ul class="expenses">
      <li><span class="expBalance negative">-10$</span>Presents</li>
      <li><span class="expBalance positive">+13$</span>Food</li>
      <li class="moreExpenses"><a href="#">2 more ...</a></li>
    </ul>
    <a href="#"><div class="addExpense"><span>Add an expense</span> <div class="plusExpense">+</div></div></a>
  </div>
  <div class="folder">
    <div class="negative folderBalance">
      <span class="folBalance">-8.28$</span>
      <span class="folTitle">New York</span>
    </div>
    <ul class="expenses">
      <li><span class="expBalance negative">-10$</span>Shake Shack</li>
      <li><span class="expBalance positive">+13$</span>Empire State Building</li>
      <li class="moreExpenses"><a href="#">4 more ...</a></li>
    </ul>
    <a href="#"><div class="addExpense"><span>Add an expense</span> <div class="plusExpense">+</div></div></a>
  </div>
</div>
{% endblock %}