<!--
Creator: Theotime
Collaborators: -
Created on: 11/15/2013
Description: Base page, the elements are added by AngularJS in the div. The partial views are in web/partialViews
-->

{% extends '::base.html.twig' %}
{% block body %}
  <div ng-view ng-animate="{enter: 'enter-animation', leave: 'leave-animation'}"></div>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('bundles/faircountsmain/js/app.js') }}"></script>
{% endblock %}