{% extends '::base.html.twig' %}
{% block body %}
<div ng-view></div>
<!--
Main page
-->
<div id="content">
  <div id="totalBalance" class="positive"><span class="totBalance">+15.20$</span><span>Total balance</span></div>
  <div id="rightColumn">
    <div class="stats"></div>
  </div>
  <div id="leftColumn">
    <a href="#" ng-click="showAddNewGroup = ! showAddNewGroup"><div id="newGroup"><span class="emphasize">+</span> New group</div></a>
    <div class="folder">
      <div class="positive folderBalance">
        <span class="folBalance">+5.03$</span>
        <span class="folTitle">John's Birthday</span>
      </div>
      <ul class="expenses">
        <li><span class="expBalance negative">-10$</span>Presents</li>
        <li><span class="expBalance positive">+13$</span>Food</li>
        <li class="moreExpenses"><a href="#">2 more ...</a></li>
      </ul>
      <a href="#" ng-click="showAddNewExpense = ! showAddNewExpense"><div class="addExpense"><span>Add an expense</span> <div class="plusExpense">+</div></div></a>
    </div>
    <div class="folder">
      <div class="negative folderBalance">
        <span class="folBalance">-8.28$</span>
        <span class="folTitle">New York</span>
      </div>
      <ul class="expenses">
        <li><span class="expBalance negative">-10$</span>Shake Shack</li>
        <li><span class="expBalance positive">+13$</span>Empire State Building</li>
        <li class="moreExpenses"><a href="#">4 more ...</a></li>
      </ul>
      <a href="#" ng-click="showAddNewExpense = ! showAddNewExpense"><div class="addExpense"><span>Add an expense</span> <div class="plusExpense">+</div></div></a>
    </div>
  </div>
</div>
<!--
Create a new group
-->
<div class="basicForm withParticipants larger" id="addGroup" ng-show="showAddNewGroup">
  <h1>Create a group</h1>
  <div class="inputField">
    <div id="groupPreInput" class="preInput"><span class="icon icon-white icon-22 group"></span></div>
    <input type="text" id="groupInput" placeholder="Group name"/>
  </div>
  <div class="inputField participantField">
    <div id="participantPreInput" class="preInput"><span class="icon icon-white icon-22 user"></span></div>
    <form ng-submit="addParticipant()">
      <input type="text" id="participantInput" placeholder="Participant name / email address" ng-model="participantName"/>
      <input type="submit" id="participantAddButton" value="+"></input>
    </form>
  </div>
  <!--<h2>Participants:</h2>-->
  <ul id="participantsList">
    <li ng-repeat="participant in participants">
      <a href="#" ng-click="removeParticipant($index)"><div id="participantRemoveButton">-</div></a><div class="participantName">{% verbatim %}{{participant.name}}{% endverbatim %}</div>
    </li>
  </ul>
  <a href="index.html"><input type="submit" class="button" value="Create"/></a>
</div>
<!--
Add an expense
-->
<div class="basicForm" id="addExpense" ng-show="showAddNewExpense">
  <h1>Add an expense</h1>
  <div class="inputField">
    <div id="groupPreInput" class="preInput"><span class="icon icon-white icon-22 lock"></span></div>
    <input type="text" id="groupInput" placeholder="Expense name"/>
  </div>
  <div class="inputField">
    <div id="amountPreInput" class="preInput">$</div>
    <input type="text" id="amountInput" placeholder="Amount ($)"/>
  </div>
  <h2>Who paid?</h2>
  <ul id="payerList" class="userList">
    <li><div id="participantCheckButton" class="checked"><span class="icon icon-22 check"></span></div><div class="participantName">Théotime</div></li>
    <li><div id="participantCheckButton"><span class="icon icon-22 check"></span></div><div class="participantName">Robert</div></li>
    <li><div id="participantCheckButton"><span class="icon icon-22 check"></span></div><div class="participantName">Thomas</div></li>
  </ul>
  <h2>Who participated?</h2>
  <ul id="participantsList" class="userList">
    <li><a href="#"><div id="participantCheckButton"><span class="icon icon-22 check"></span></div></a><div class="participantName">Théotime</div></li>
    <li><a href="#"><div id="participantCheckButton"><span class="icon icon-22 check"></span></div></a><div class="participantName">Robert</div></li>
    <li><a href="#"><div id="participantCheckButton"><span class="icon icon-22 check"></span></div></a><div class="participantName">Thomas</div></li>
  </ul>
  <a href="index.html"><input type="submit" class="button" value="Add"/></a>
</div>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('bundles/faircountsmain/js/app.js') }}"></script>
{% endblock %}