{% extends '::base.html.twig' %}
{% block body %}
  <div ng-view></div>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('bundles/faircountsmain/js/app.js') }}"></script>
{% endblock %}