/**
Creator: Theotime
Collaborators: -
Created on: 10/28/2013
Description: This code handles the icons used on the website. It allows a nice rendering for every screen resolution.
*/

@font-face {
  font-family: 'LigatureSymbols';
  src: url('../fonts/LigatureSymbols/LigatureSymbols-2.11.eot?') format('eot'), url('../fonts/LigatureSymbols/LigatureSymbols-2.11.woff') format('woff'), url('../fonts/LigatureSymbols/LigatureSymbols-2.11.ttf') format('truetype');
}

/**
* Icon font
*/
.icon:before {
  font-family: "LigatureSymbols";
  -webkit-font-smoothing: antialiased;
}

.icon-single:before {
  display: block;
}

.icon-darkgrey:before {
  color: #434343;
}

.icon-white:before {
  color: #ffffff;
}

.icon-green:before {
  color: #1FCC56;
}

.icon-18:before {
  font-size: 18px;
}

.icon-20:before {
  font-size: 20px;
}

.icon-22:before {
  font-size: 22px;
}

.icon-30:before {
  font-size: 30px;
}

.icon-40:before {
  font-size: 40px;
}

.icon-160:before {
  font-size: 160px;
}

.icon.home:before {
  content: "\E072";
}

.icon.group:before {
  content: "\E05c";
}

.icon.stats:before {
  content: "\E05b";
}

.icon.down:before {
  content: "\E03e";
}

.icon.info:before {
  content: "\E075";
}

.icon.menu:before {
  content: "\E08e";
}

.icon.mail:before {
  content: "\E08a";
}

.icon.lock:before {
  content: "\E086";
}

.icon.draw:before {
  content: "\E09f";
}

.icon.facebook:before {
  content: "\E047";
}

.icon.twitter:before {
  content: "\E12f";
}

.icon.gplus:before {
  content: "\E05a";
}

.icon.check:before {
  content: "\E029";
}

.icon.user:before {
  content: "\E137";
}

.icon.remove:before {
  content: "\E10f";
}