#navContent {
    width: 900px;
}

#content {
    width: 900px;
}

.mobileNavList {
  display: none;
}

ul.desktopNavList {
  display: none;
  position: absolute;
  width: 200px;
  right: 0;
  margin: 0;
  padding: 5px 0 0 0;
  z-index: 20;
  list-style-type: none;
  color: white;
  opacity: 0;
}

#userMenu {
  position: relative;
  width: 556px;
  left: 344px;
}

#userMenu:hover ul.desktopNavList, ul.desktopNavList:hover {
  display: block;
  opacity: 1;
}

ul.desktopNavList a {
  color: white;
}

ul.desktopNavList li {
  height: 40px;
  background: #434343;
  line-height: 40px;
  text-align: center;
  margin-bottom: 4px;
  padding: 0px 20px;
  border-bottom: 1px solid black;
  box-shadow: 0 0 3px black;
}

ul.desktopNavList li:hover {
  background: #6F6F6F;
}

/**
 * Sign up / Sign in forms
 */
#signInForm {
    height: 250px;
}

#signUpForm {
    height: 310px;
}