@font-face {
  font-family: 'SourceSansProUltraLight';
  src: url('../fonts/SourceSansPro/SourceSansPro-ExtraLight.eot?') format('eot'), url('../fonts/SourceSansPro/SourceSansPro-ExtraLight.woff') format('woff'), url('../fonts/SourceSansPro/SourceSansPro-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceSansProRegular';
  src: url('../fonts/SourceSansPro/SourceSansPro-Regular.eot?') format('eot'), url('../fonts/SourceSansPro/SourceSansPro-Regular.woff') format('woff'), url('../fonts/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype');
}

/*
* COMMON
*/

body {
  margin: 0;
  background: #F2F2F2;
  font-family: "SourceSansProRegular", Helvetica, "Century Gothic", sans-serif;
}

nav {
  width: 100%;
  height: 80px;
  background: #434343;
}

#navContent {
  margin: auto;
}

nav .linkList {
  float: left;
  padding-top: 14px;
}

nav .linkList .link {
  position: relative;
  float: left;
  top: 0;
  margin: 0 20px 0 20px;
  text-align: center;
  color: white;
  -webkit-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out;
  cursor: pointer;
}

nav .linkList .link:hover {
  top: -10px
}

nav .linkList .link .linkTitle {
  position: relative;
  top: -10px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in, top 0.2s ease-in-out;
  transition: opacity 0.3s ease-in, top 0.2s ease-in-out;
}

nav .linkList .link:hover .linkTitle {
  top: 0px;
  opacity: 1;
}

nav #navContent .user {
  position: relative;
  padding: 0 25px 0 0;
  text-align: right;
  color: white;
  line-height: 80px;
  font-size: 24px;
  font-family: "SourceSansProUltraLight", "Helvetica Neue", "Century Gothic", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

nav #navContent .user .down {
  position: absolute;
  right: 0px;
  padding-left: 8px;
}

nav #navContent .mobileNav {
  display: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  cursor: pointer;
}

#notLoggedMenu {
  line-height: 70px;
  text-align: right;
  font-family: 'SourceSansProUltraLight';
  font-size: 22px;
}

#notLoggedMenu a {
  color: white;
  margin-left: 15px;
}

#notLoggedMenu a:hover {
  color: #03C8FF;
}

.clear:before, .clear:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clear:after {
  clear: both;
}

/*
* WELCOME
*/
#welcome {
  max-width: 860px;
  margin: auto;
  padding: 20px;
  background: white;
  text-align: justify;
}

#welcome h1 {
  text-align: center;
  margin: 5px 0 0 0;
  padding: 0;
  font-weight: bold;
}

#welcome h2 {
}

#welcome p {
  text-indent: 20px;
}

#welcome .button {
  width: 200px;
  height: 50px;
  margin: auto;
  background: #0087AD;
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  -webkit-transition: background 0.3s ease-in;
  -moz-transition: background 0.3s ease-in;
  -o-transition: background 0.3s ease-in;
  -ms-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
}

#welcome .button:hover {
  background: rgb(0, 114, 158);
}

/*
* MAIN PAGE
*/

#content {
  margin: auto;
  padding: 30px 10px;
}

/* see http://www.youtube.com/watch?v=cF_JsA9KsDM */
.leave-animation-setup, .enter-animation-setup {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -ms-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.enter-animation-setup {
  opacity: 0;
}

.enter-animation-setup.enter-animation-start {
  opacity: 1;
}

.leave-animation-setup.leave-animation-start {
  opacity: 0;
}

#content #totalBalance {
  height: 70px;
  padding: 0 30px;
  margin-bottom: 30px;
  color: white;
  font-size: 26px;
  line-height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#content #totalBalance.positive {
  background: #1FCC56;
}

#content #totalBalance.negative {
  background: #F05348;
}

#content #totalBalance .totBalance {
  float: right;
  font-size: 40px;
}

#content #leftColumn {
  width: 48%;
}

#content #rightColumn {
  float: right;
  width: 48%;
}

#content #rightGroupColumn {
  float: right;
  width: 32%;
}

#content #newGroup {
  width: 100%;
  height: 40px;
  background: #434343;
  padding: 0 0 34px 0;
  margin-bottom: 10px;
  color: white;
  font-size: 30px;
  text-align: center;
  -webkit-transition: background 0.3s ease-in;
  -moz-transition: background 0.3s ease-in;
  -o-transition: background 0.3s ease-in;
  -ms-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
}

#content #newGroup:hover {
  background: #0087AD;
}

#content span.emphasize {
  margin-right: 10px;
  font-size: 60px;
  vertical-align: middle;
  font-weight: bold;
}

#content div.folder {
  width: 100%;
  background: white;
  margin: 20px 0;
}

#content .folder .folderBalance {
  width: 100%;
  height: 34px;
  padding: 20px 0 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
  font-size: 22px;
  -webkit-transition: background 0.3s ease-in;
  -moz-transition: background 0.3s ease-in;
  -o-transition: background 0.3s ease-in;
  -ms-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
}

#content .folder .folderBalance .folBalance {
  float: right;
  font-size: 36px;
  margin: -10px 20px 0 0;  
}

#content .folder .folderBalance .folTitle {
  margin-left: 20px;
}

#content .folder .folderBalance.positive {
  background: #1FCC56;
}

#content .folder .folderBalance.negative {
  background: #F05348;
}

#content .folder .folderBalance.positive:hover {
  background: #434343;
}

#content .folder .folderBalance.negative:hover {
  background: #434343;
}

#content .folder .expenses {
  margin: 0;
  padding: 10px 10px 5px 20px;
  list-style: none;
  color: #434343;
  font-size: 18px;
}

#content .folder .expenses .expBalance {
  float: right;
  margin-right: 10px;
}

#content .folder .expenses li {
  height: 26px;
  padding-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px solid rgba(0,0,0,0.06);
}

#content .folder .expenses .expBalance.positive {
  color: #1FCC56;
}

#content .folder .expenses .expBalance.negative {
  color: #F05348;
}

#content .folder .expenses .moreExpenses {
  border: none;
}

#content .folder .expenses .moreExpenses button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  color: #A7A7A7;
  font-size: 18px;
  font-family: "SourceSansProUltraLight", "Helvetica Neue", "Helvetica", "Century Gothic", sans-serif;
  font-style: italic;
  -webkit-transition: color 0.3s ease-in;
  -moz-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  -ms-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

#content .folder .expenses .moreExpenses button:hover {
  color: #0087AD;
}

#content .folder .addExpense {
  height: 40px;
  text-align: right;
  line-height: 40px;
  color: #0087AD;
}

#content .folder .addExpense span{
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  -ms-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

#content .folder .addExpense:hover span{
  opacity: 1;
}

#content .folder .addExpense .plusExpense {
  float: right;
  width: 40px;
  height: 40px;
  margin: 0 0 0 10px;
  border-radius: 5px 0 0 0;
  background: #0087AD;
  color: white;
  font-size: 30px;
  text-align: center; 
}

#content .stats {
  width: 100%;
  height: 300px;
  background: white;
}

/*
* GROUP PAGE
*/

.groupView {
  width: 900px;
  margin: auto;
  padding: 30px 10px;
}

.groupView #groupName {
  width: 520px;
  height: 70px;
  padding: 0 30px;
  margin-bottom: 20px;
  background: white;
  line-height: 70px;
  color: #434343;
  font-size: 26px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.groupView #groupName #editGroupNameIcon {
  float:right;
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-in;
  -moz-transition: opacity 0.1s ease-in;
  -o-transition: opacity 0.1s ease-in;
  -ms-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
}

.groupView #groupName:hover #editGroupNameIcon {
  opacity: 1;
}

.groupView #groupNameEdit {
  position: relative;
  width: 580px;
  height: 70px; 
  margin-bottom: 20px;
}

.groupView #groupNameInput {
  position: absolute;
  height: 70px;
  padding: 0 30px;
  margin: 0;
  left: 0;
  right: 140px;
  border: none;
  line-height: 70px;
  font-family: "SourceSansProRegular", Helvetica, "Century Gothic", sans-serif;
  font-size: 26px;
  color: #434343;
  outline: none;
}

.groupView .squareButton {
  width: 70px;
  height: 70px;
  border: none;
  text-align: center;
  line-height: 70px;
  -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  -ms-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

.groupView #groupNameEdit #confirmGroupName {
  float: right;
  background: #1FCC56;
}

.groupView #groupNameEdit #confirmGroupName:hover {
  background: #20A249;
}

.groupView #groupNameEdit #cancelGroupName {
  float: right;
  background: #F05348;
}

.groupView #groupNameEdit #cancelGroupName:hover {
  background: #CC4C43;
}

.groupView #groupBalance {
  float: right;
  width: 240px;
  height: 70px;
  padding: 0 30px;
  line-height: 70px;
  color: white;
  font-size: 40px;
  text-align: right;
}

.groupView #groupBalance.positive {
  background: #1FCC56;
}

.groupView #groupBalance.negative {
  background: #F05348;
}

.groupView #groupExpenses {
  width: 580px;
}

.groupView #expenseHeader {
  height: 70px;
  padding: 0 0 0 30px;
  background: #434343;
  color: white;
  line-height: 70px;
  font-size: 26px;
}

.groupView #expensesList {
  padding: 20px 30px;
  background: white;
  color: #434343;
  font-size: 26px;
}

.groupView #expensesList ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 20px;
}

.groupView #expensesList li {
  padding: 5px 0;
  border-bottom: 1px solid rgba(0,0,0,0.06);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.groupView #expensesList li:last-child {
  border: none; 
}

.groupView #expensesList .detailsExpense {
  float: right;
  font-size: 18px;
}

.groupView .expenseAmount.positive {
  color: #1FCC56;
}

.groupView .expenseAmount.negative {
  color: #F05348;
}

.groupView .expenseDate {
  margin: 0 15px;
}

.groupView #expensesList .group {
  margin-right: 2px;
}

.groupView #addButtonHeader {
  float: right;
  background: #0087AD;
  color: white;
  font-size: 40px;
}

.groupView #addButtonHeader:hover {
  background: rgb(0, 114, 158);
}

.groupView .editButtonHeader {
  float: right;
  background: #D9C099;
  color: white;
}

.groupView .editButtonHeader:hover {
  background: #B6A282;
}

.groupView #groupParticipants {
  float: right;
  width: 300px;
  background: white;
}

.groupView #participantsHeader {
  height: 70px;
  padding: 0 0 0 30px;
  background: #434343;
  line-height: 70px;
  color: white;
  font-size: 26px;
}

.groupView ul#currentParticipants {
  margin: 0;
  padding: 10px 20px;
  list-style-type: none;
}

.groupView #currentParticipants li {
  position: relative;
  padding: 5px 0;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.groupView #currentParticipants li:last-child {
  border: none;
}

.groupView #currentParticipants li .participantBalance {
  float: right;
}

.groupView #currentParticipants li .participantBalance.positive {
  color: #1FCC56;
}

.groupView #currentParticipants li .participantBalance.negative {
  color: #F05348;
}

.groupView #currentParticipants li .remove {
  float: right;
  margin-left: 5px;
  opacity: 0.5;
  color: #434343;
  cursor: pointer;
}

.groupView #currentParticipants li .remove.active {
  color: #F05348;
  opacity: 1;
}

.groupView #newParticipantForm {
  position: relative;
  margin-bottom: 5px;
}

.groupView #newParticipant {
  position: absolute;
  right: 60px;
  left: 0;
  height: 30px;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  background: #F7F7F7;
  border: none;
  outline: none;
  font-size: 14px;
  font-family: "SourceSansProUltraLight", "SourceSansProRegular", Helvetica, "Century Gothic", sans-serif;
}

.groupView #newParticipantInput {
  height: 30px;
}

.groupView .addParticipantButton {
  float: right;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  line-height: 30px;
  border: none;
  font-size: 16px;
  color: white;
  -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  -ms-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

.groupView #addParticipant {
  height: 70px;
  background: #0087AD;
  color: white;
  line-height: 70px;
  font-size: 40px;
  text-align: center;
  -webkit-transition: background 0.3s ease-in;
  -moz-transition: background 0.3s ease-in;
  -o-transition: background 0.3s ease-in;
  -ms-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
}

.groupView #confirmNewParticipant {
  background: #1FCC56;
}

.groupView #confirmNewParticipant:hover {
  background: #20A249;
}

.groupView #cancelNewParticipant {
  background: #F05348;
}

.groupView #cancelNewParticipant:hover {
  background: #CC4C43;
}

.groupView #addParticipant:hover {
  background: rgb(0, 114, 158);
}

.groupView ul#potentialParticipants {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 14px;
  font-family: "SourceSansProUltraLight", "SourceSansProRegular", Helvetica, "Century Gothic", sans-serif;
  list-style-type: none;
}

.groupView ul#potentialParticipants li {
  background: #434343;
  padding: 2px 5px;
  margin-bottom: 1px;
  -webkit-transition: background 0.3s ease-in;
  -moz-transition: background 0.3s ease-in;
  -o-transition: background 0.3s ease-in;
  -ms-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
}

.groupView ul#potentialParticipants li:hover {
  background: #6F6C6C;
}

/*
* FORMS
*/

.basicForm {
  position: relative;
  max-width: 400px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  padding-bottom: 50px;
  background: white;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.basicForm h1 {
  margin: 25px 0 20px 60px;
  font-size: 36px;
  color: #434343;
}

.basicForm h2 {
  margin: 0 70px;
  padding: 0 0 10px;
  font-size: 22px;
  color: #434343;
}

.basicForm #errorBar {
  position: relative;
  max-width: 260px;
  min-height: 40px;
  margin: auto;
  margin-bottom: 20px;
  padding: 0 10px;
  background: rgb(194, 41, 25);
  color: white;
  text-align: center;
  line-height: 40px;
}

.basicForm  input[type=text], .basicForm  input[type=password], .basicForm  input[type=email], .basicForm  input[type=number] {
  display: block;
  position: absolute;
  right: 0;
  height: 40px;
  padding: 0 0 0 10px;
  left: 40px;
  margin: 0;
  background: #F7F7F7;
  border: none;
  outline: none;
  font-size: 14px;
  font-family: "SourceSansProUltraLight", "SourceSansProRegular", Helvetica, "Century Gothic", sans-serif;
  -webkit-transition: background 0.3s ease-in;
  -moz-transition: background 0.3s ease-in;
  -o-transition: background 0.3s ease-in;
  -ms-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
}

.basicForm  input[type=text]:focus, .basicForm  input[type=password]:focus, .basicForm  input[type=email]:focus, .basicForm  input[type=number]:focus {
  background: #EFF2FF;
}

.basicForm .preInput {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #434343;
}

.basicForm .preInput span.icon {
  position: relative;
  top: 7px;
  left: 13px;
}

.basicForm .preInput span.mail {
  left: 11px;
}

.basicForm .inputField {
  position: relative;
  max-width: 280px;
  height: 40px;
  margin: auto;
  margin-bottom: 20px;
}

.basicForm input[type=submit] {
  margin: auto;
}

.basicForm .button {
  display: block;
  width: 100%;
  max-width: 280px;
  height: 50px;
  margin: auto;
  background: #0087AD;
  border: none;
  color: white;
  font-size: 24px;
  outline: none;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.basicForm .button.basicButton {
  background: #C0C0C0;
}

.basicForm .button:hover, .basicForm .button:focus {
  background: rgb(0, 114, 158);
}

.basicForm input[type=submit]:active {
  background: rgb(0, 76, 105);
}

.signInUpForm {
  max-width: 900px;
  padding-bottom: 60px;
}

.signInUpForm .formSignInUp {
  float: left;
  width: 430px;
  left: 0;
}

.signInUpForm #socialNetworks {
  float: right;
  width: 429px;
  right: 0;
  margin-top: 50px;
  border-left: 1px solid rgb(230, 230, 230);
}

#signUpForm #socialNetworks {
  margin-top: 70px;
}

.signInUpForm #socialNetworks .button {
  max-width: 300px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 22px;
  font-family: "SourceSansProUltraLight", sans-serif;
}

.signInUpForm #socialNetworks .buttonContent {
  display: inline-block;
  height: 39px;
  vertical-align: bottom;
  color: white;
}

.signInUpForm #socialNetworks .icon {
  display: inline-block;
  width: 40px;
  height: 100%;
  padding-left: 13px;
  margin-right: 10px;
  vertical-align: middle;
  -webkit-box-shadow: 1px 0px 0px rgba(100,100,100,0.2);
  -moz-box-shadow: 1px 0px 0px rgba(100,100,100,0.2);
  -o-box-shadow: 1px 0px 0px rgba(100,100,100,0.2);
  -ms-box-shadow: 1px 0px 0px rgba(100,100,100,0.2);
  box-shadow: 1px 0px 0px rgba(100,100,100,0.2);
}

.signInUpForm #facebookSignIn .icon {
  background: rgb(59, 89, 152);
}

.signInUpForm #facebookSignIn {
  background: rgb(60, 79, 121);
}

.signInUpForm #facebookSignIn:hover {
  background: rgb(36, 81, 182);
}

.signInUpForm #twitterSignIn .icon {
  background: rgb(0, 171, 240);
}

.signInUpForm #twitterSignIn {
  background: rgb(17, 160, 218);
}

.signInUpForm #twitterSignIn:hover {
  background: rgb(0, 178, 250);
}

.signInUpForm #googleSignIn .icon {
  background: rgb(193, 50, 34);
}

.signInUpForm #googleSignIn {
  background: rgb(161, 49, 37);
}

.signInUpForm #googleSignIn:hover {
  background: rgb(201, 31, 13);
}

/*
* PasswordChanged
*/

#passwordChanged {
  padding: 50px 20px;
  text-align:center;
  font-size: 24px;
  color: #434343;
}

#passwordChanged .button {
  margin: auto;
}

#checkEmail {
  padding: 50px 20px 0 10px;
  text-align:center;
  font-size: 24px;
  color: #434343;
}

#confirmedRegistration {
  padding: 50px 20px;
  text-align:center;
  font-size: 24px;
  color: #434343;
}

#confirmedRegistration .button {
  margin: auto;
}

/*
* Add Group
*/

.basicForm.larger .inputField {
  max-width: 310px;
}

#addGroup #groupPreInput .group {
  left: 11px;
}

.withParticipants input[type=text] {
  right: 0px;
}

.withParticipants #participantInput {
  right: 45px;
}

.withParticipants #participantAddButton {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  text-align: center;
  background: #1FCC56;
  color: white;
  font-size: 24px;
  -webkit-transition: background 0.3s ease-in;
  -moz-transition: background 0.3s ease-in;
  -o-transition: background 0.3s ease-in;
  -ms-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
}

.withParticipants #participantAddButton:hover {
  background: #4FAF4F;
}

.withParticipants #participantRemoveButton {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  background: #F05348;
  color: white;
  font-size: 24px;
  border: none;
  -webkit-transition: background 0.3s ease-in;
  -moz-transition: background 0.3s ease-in;
  -o-transition: background 0.3s ease-in;
  -ms-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
}

.withParticipants #participantRemoveButton:hover {
  background: #CA190D;
}

.withParticipants .participantField {
  margin-bottom: 2px;
}

.withParticipants #participantsList {
  list-style-type: none;
  max-width: 310px;
  margin: auto;
  padding: 0 0 20px;
}

.withParticipants #participantsList li {
  position: relative;
  max-width: 270px;
  height: 40px;
  margin: 0 0 2px 40px;
}

.withParticipants #participantsList li .participantName {
  position: relative;
  right: 45px;
  margin-left: 45px;
  height: 29px;
  padding: 11px 10px 0;
  background: #F7F7F7;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-family: "SourceSansProUltraLight";
  color: #434343;
}

/*
* Add expense
*/

#amountPreInput {
  color: white;
  font-size: 22px;
  text-align: center;
  line-height: 41px;
}

#addExpense .userList {
  list-style-type: none;
  max-width: 280px;
  margin: auto;
  padding: 0 0 20px;
}

#addExpense .userList li {
  position: relative;
  height: 40px;
  margin: 0 0 2px 0;
  cursor: pointer;
}

#addExpense .userList li .participantName {
  position: relative;
  background: #F2F2F2;
  height: 29px;
  padding: 11px 10px 0;
  margin-right: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-family: "SourceSansProUltraLight";
  color: #434343;
}

#addExpense #participantCheckButton {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  background: #F2F2F2;
  color: #434343;
  line-height: 40px;
  -webkit-transition: background 0.3s ease-in;
  -moz-transition: background 0.3s ease-in;
  -o-transition: background 0.3s ease-in;
  -ms-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
}

#addExpense li:hover #participantCheckButton {
  background: #C0C0C0;
}

#addExpense #participantCheckButton.checked {
  background: #1FCC56;
  color: white;
}