<!--
Display the expenses linked to a group
-->
<div class="groupView" ng-controller="groupController">
  <div id="groupBalance" class="positive">+5.03$</div>
  <div id="groupName">John's Birthday</div>
  
  <div id="groupParticipants"> 
    <div id="participantsHeader">
      <div id="editButtonHeader"><span class="icon icon-single icon-white icon-30 draw"></span></div>
      
      Participants
    </div>
    <div id="participantsList">
      <ul>
        <li><span class="participantBalance negative">-10$</span>Albert Doe</li>
        <li><span class="participantBalance positive">+9.25$</span>Robert Doe</li>
        <li><span class="participantBalance negative">-1.45$</span>John Smith</li>
        <li><span class="participantBalance negative">-10$</span>Liza Brown</li>
      </ul>
      <div id="addParticipant">+</div>
    </div>
            
  </div>
  
  <div id="groupExpenses">
    <div id="expenseHeader">
      Expenses
      <div id="editButtonHeader"><span class="icon icon-single icon-white icon-30 draw"></span></div>
      <div id="addButtonHeader">+</div>
    </div>
    <div id="expensesList">
      <ul>
        <li>
          <span class="detailsExpense">
            <span class="expenseAmount negative">-10$</span>
            <span class="expenseDate">09/28/2013</span>
            <span class="icon icon-darkgrey icon-22 group"></span>4
          </span>
          Present
        </li>
        <li>
          <span class="detailsExpense">
            <span class="expenseAmount positive">+13$</span>
            <span class="expenseDate">09/27/2013</span>
            <span class="icon icon-darkgrey icon-22 group"></span>4
          </span>
          Food
        </li>
        <li>
          <span class="detailsExpense">
            <span class="expenseAmount negative">-4.32$</span>
            <span class="expenseDate">09/27/2013</span>
            <span class="icon icon-darkgrey icon-22 group"></span>4
          </span>
          Drinks
        </li>
        <li>
          <span class="detailsExpense">
            <span class="expenseAmount positive">+3.8$</span>
            <span class="expenseDate">09/26/2013</span>
            <span class="icon icon-darkgrey icon-22 group"></span>4
          </span>
          Balloons
        </li>
      </ul>
    </div>
  </div>
</div>