<!--
Creator: Theotime
Collaborators: -
Created on: 11/28/2013
Description: This page notifies the user that a mail has been sent to his/her email address to confirm his/her registration.
-->
{% extends '::base.html.twig' %}
{% block body %}
<div id="content">
  <div class="basicForm" id="checkEmail">
    An email has been sent to {{ user.email }}. <br/>It contains an activation link you must click to activate your account.<br/>
    <span class="icon icon-single mail icon-grey icon-160"></span>
  </div>
</div>
{% endblock %}